rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // This rule allows any user to read and write to any file in your storage bucket.
    // This is useful for development but is not secure.
    // TODO: Secure your rules before deploying to production.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
